#physicsGame {
    display: inline-block;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    box-sizing: initial;
}
.physicsBox {
    display: inline-block;
    position: absolute;
    background-color: #1b1;
}
